body {
  margin: 0;
}
body,
html {
  font-family: -apple-system-font, "Helvetica Neue", Tahoma, "PingFang SC", "Microsoft Yahei", sans-serif;
}
p,
ul,
h1,
h3 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.pc-hide {
  display: none;
}
.grayContainer {
  background-color: #F7F7F7;
}
#nav {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 20px;
  left: 0;
  background: transparent;
  z-index: 10;
}
#nav .container {
  width: 90%;
  max-width: 1140px;
  height: 90px;
  margin: 0 auto;
  position: relative;
}
#nav .container img {
  width: 140px;
  height: 99px;
  position: absolute;
  bottom: 0;
  left: 0px;
  cursor: pointer;
}
#nav .container ul {
  width: 500px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 145px;
  padding-top: 20px;
}
#nav .container ul li {
  float: left;
  height: 50px;
  margin-left: 30px;
  position: relative;
  padding: 5px 0;
}
#nav .container ul li a {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 3px;
}
#nav .container ul li span {
  display: block;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
#nav .container p {
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: right;
  background: url(../img/phone.png) no-repeat;
  background-size: 30px 30px;
  padding-left: 40px;
  position: absolute;
  right: 0px;
  top: 0;
}
#header {
  width: 100%;
  position: relative;
}
#header .banner .zhanwei {
  width: 100%;
}
#header .banner .zhanwei img {
  width: 100%;
  display: block;
}
#header .banner ul {
  width: 100%;
}
#header .banner ul li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#header .banner ul li img {
  width: 100%;
}
#header .banner .headerScriptWrap {
  width: 90%;
  height: 218px;
  margin: 0 auto;
  max-width: 1140px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#header .banner .headerScriptWrap .companyName {
  width: 184px;
  height: 46px;
  line-height: 46px;
  font-size: 46px;
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
#header .banner .headerScriptWrap .detail {
  width: 380px;
  height: 34px;
  line-height: 34px;
  font-size: 34px;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 0px;
}
#header .banner .headerScriptWrap .submitButton {
  text-align: center;
  line-height: 48px;
  width: 136px;
  height: 48px;
  font-size: 18px;
  color: #fff;
  background-color: #C0A75E;
  border-radius: 5px;
  position: absolute;
  top: 170px;
  left: 0px;
}
#con1 {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 30px;
}
#con1 .chinaTitle,
#con1 .chinaDetail {
  width: 100%;
  height: 17px;
  line-height: 17px;
  font-size: 17px;
  text-align: center;
  color: #999;
  margin-bottom: 10px;
}
#con1 .EnglishTitle,
#con1 .EnglishDetail {
  width: 100%;
  height: 13px;
  line-height: 13px;
  font-size: 13px;
  text-align: center;
  color: #999;
  margin-bottom: 10px;
}
#con1 .imgScript {
  width: 100%;
  margin-bottom: 30px;
}
#con1 .imgScript li {
  float: left;
  width: 22%;
  margin-right: 4%;
}
#con1 .imgScript li.noMargin {
  margin-right: 0;
}
#con1 .imgScript li img {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#con1 .imgScript li .one {
  width: 100%;
  line-height: 18px;
  font-size: 18px;
  color: #222;
  text-align: center;
  margin-bottom: 5px;
}
#con1 .imgScript li .two {
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  color: #222;
  text-align: center;
  margin-bottom: 20px;
}
#con1 .imgScript li .three {
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}
#con1 .imgScript li .four {
  width: 100%;
  line-height: 15px;
  font-size: 12px;
  color: #999;
}
#con2 {
  width: 90%;
  max-width: 1140px;
  background-color: #F7F7F7;
  padding-bottom: 80px;
  margin: 0 auto;
  padding-top: 60px;
}
#con2 .chineseTitle {
  width: 100%;
  line-height: 18px;
  font-size: 18px;
  color: #767676;
  text-align: center;
  margin-bottom: 5px;
}
#con2 .englishTitle {
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  color: #9b9b9b;
  text-align: center;
}
#con2 .lineContainer {
  width: 100%;
}
#con2 .lineContainer .lineH {
  width: 100px;
  height: 2px;
  background-color: #c0a75e;
  margin: 49px auto;
}
#con2 .buttons {
  width: 90%;
  min-width: 800px;
  margin: 0 auto;
}
#con2 .buttons li {
  float: left;
  width: 20%;
  height: 170px;
  padding-top: 20px;
  border-right: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
}
#con2 .buttons li img {
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5px;
}
#con2 .buttons li .chinese {
  width: 90%;
  line-height: 14px;
  font-size: 14px;
  color: #222;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}
#con2 .buttons li .english {
  width: 90%;
  line-height: 12px;
  font-size: 12px;
  color: #222;
  margin: 0 auto;
  text-align: center;
}
#con3 {
  width: 90%;
  max-width: 1140px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0 auto;
}
#con3 .chinese {
  width: 100%;
  line-height: 14px;
  font-size: 14px;
  color: #767676;
  margin-bottom: 5px;
  text-align: center;
}
#con3 .english {
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  color: #9b9b9b;
  margin-bottom: 5px;
  margin-bottom: 25px;
  text-align: center;
}
#con3 .submit {
  display: block;
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  text-align: center;
  background-color: #C0A75E;
  border-radius: 5px;
  border: 1px solid #C0A75E;
  margin: 0 auto;
  color: #fff;
}
#con3 .submit.active {
  background-color: #fff;
  color: #C0A75E;
}
#con4 {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
}
#con4 .nav {
  width: 80px;
  height: 15px;
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
}
#con4 .nav a {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #909090;
  border-radius: 7.5px;
  margin-right: 5px;
}
#con4 .nav a.active {
  background-color: #fff;
}
#con4 .ulContainer {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
#con4 .ulContainer ul {
  width: 300%;
}
#con4 .ulContainer ul li {
  width: 10%;
  background-color: #fff;
  float: left;
  margin: 0 0.55555556%;
}
#con4 .ulContainer ul li img {
  width: 100%;
  margin-bottom: 5px;
}
#con4 .ulContainer ul li .Title {
  width: 100%;
  line-height: 16px;
  font-size: 16px;
  color: #222;
  text-align: center;
  font-weight: 700;
}
#con4 .ulContainer ul li .lineH {
  width: 30px;
  height: 1px;
  background-color: #999;
  margin: 15px auto;
}
#con4 .ulContainer ul li .time {
  width: 100%;
  line-height: 13px;
  font-size: 13px;
  color: #767676;
  text-align: center;
  margin-bottom: 10px;
}
#con4 .ulContainer ul li .monney {
  width: 100%;
  line-height: 13px;
  font-size: 13px;
  color: #F5A623;
  text-align: center;
  margin-bottom: 10px;
}
#con5 {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  padding-bottom: 50px;
}
#con5 .chineseTitle {
  width: 100%;
  line-height: 18px;
  font-size: 18px;
  color: #767676;
  text-align: center;
  margin-bottom: 5px;
}
#con5 .englishTitle {
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  color: #767676;
  text-align: center;
}
#con5 .lineH {
  width: 100px;
  height: 2px;
  background-color: #c0a75e;
  margin: 50px auto;
}
#con5 .moreNews {
  width: 100%;
  line-height: 14px;
  font-size: 14px;
  color: grey;
  text-align: right;
  cursor: pointer;
  margin-bottom: 5px;
  padding-right: 60px;
  box-sizing: border-box;
}
#con5 .more {
  width: 100%;
  line-height: 14px;
  font-size: 14px;
  color: grey;
  text-align: right;
  cursor: pointer;
  padding-right: 60px;
  box-sizing: border-box;
}
#con5 .news {
  float: left;
  width: 40%;
  height: 380px;
  background-color: #F7F7F7;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
#con5 .news .time {
  width: 95%;
  line-height: 18px;
  font-size: 18px;
  color: grey;
  margin-top: 30px;
}
#con5 .news .title {
  width: 95%;
  line-height: 24px;
  font-size: 18px;
  color: #222;
  margin-top: 30px;
}
#con5 .news .source {
  width: 95%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-left: 2px solid grey;
  padding-left: 20px;
  margin-top: 30px;
}
#con5 .news img {
  display: block;
  width: 80%;
  margin: 30px auto;
}
#con5 ul {
  float: right;
  width: 45%;
  padding-top: 10px;
}
#con5 ul li {
  width: 100%;
  height: 120px;
  position: relative;
  border-top: 2px solid #e4e4e4;
  cursor: pointer;
}
#con5 ul li .headImage {
  width: 102px;
  height: 66px;
  position: absolute;
  top: 27px;
  left: 15px;
}
#con5 ul li .title {
  width: 50%;
  margin-left: 150px;
  line-height: 1.2em;
  font-size: 14px;
  color: #c0a75e;
  margin-top: 27px;
}
#con5 ul li .time {
  width: 50%;
  line-height: 14px;
  font-size: 14px;
  color: #c0a75e;
  margin-left: 150px;
  margin-top: 5px;
}
#con5 ul li .source {
  width: 50%;
  line-height: 12px;
  font-size: 12px;
  color: gery;
  margin-top: 20px;
  margin-left: 150px;
}
#con5 ul li .arrow {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 25px;
}
#con6 {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
  padding-top: 80px;
}
#con6 .chineseTitle {
  width: 100%;
  line-height: 18px;
  font-size: 18px;
  color: #767676;
  text-align: center;
}
#con6 .englishTitle {
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  color: #767676;
  text-align: center;
  margin-top: 5px;
}
#con6 .lineH {
  width: 100px;
  height: 2px;
  background-color: #c0a75e;
  margin: 30px auto;
}
#con6 img {
  width: 100%;
  height: 524px;
}
.blackContainer {
  background-color: #333;
}
#footer {
  width: 960px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
#footer .chineseOne {
  width: 240px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
}
#footer .englishOne {
  width: 240px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 0;
}
#footer .chineseTwo {
  width: 210px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 270px;
}
#footer .englishTwo {
  width: 210px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 270px;
}
#footer .chineseThree {
  width: 210px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 510px;
}
#footer .englishThree {
  width: 210px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 510px;
}
#footer .chineseFour {
  width: 210px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 750px;
}
#footer .englishFour {
  width: 210px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #999;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 750px;
}
#footer .ul1 {
  width: 210px;
  position: absolute;
  top: 80px;
  left: 270px;
  padding-top: 20px;
}
#footer .ul1 li {
  width: 210px;
  height: 30px;
}
#footer .ul1 li a {
  display: block;
  width: 210px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#footer .ul2 {
  width: 210px;
  position: absolute;
  top: 80px;
  left: 510px;
  padding-top: 20px;
}
#footer .ul2 li {
  width: 210px;
  height: 30px;
}
#footer .ul2 li a {
  display: block;
  width: 210px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#footer .ul3 {
  width: 210px;
  position: absolute;
  top: 80px;
  left: 750px;
  padding-top: 20px;
}
#footer .ul3 li {
  width: 210px;
  height: 30px;
}
#footer .ul3 li a {
  display: block;
  width: 210px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.chineseSix {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: #999;
}
